#article {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre {
    margin-top: calc(var(--spacing) * 5);
    margin-bottom: calc(var(--spacing) * 5);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }

  pre {
    border-radius: var(--radius-xl);
    padding: calc(var(--spacing) * 5);
  }
}