:root {
  --body-bg: #FFFFFF;
  --body-color: #191E23;
  --color-primary: #1976d2;
  --color-secondary: #9c27b0;
  --color-error: #d32f2f;
  --color-warning: #ed6c02;
  --color-info: #0288d1;
  --color-success: #2e7d32;
}

.dark {
  --body-bg: #050A0F;
  --body-color: #D2D7DC;
  --color-primary: #90caf9;
  --color-secondary: #ce93d8;
  --color-error: #f44336;
  --color-warning: #ffa726;
  --color-info: #29b6f6;
  --color-success: #66bb6a;
}