---
import '@/styles/component/header.css'
---

<header id="header" class="fixed top-0 w-full z-2 flex items-center justify-between px-5">
  <a href="/">
    <svg width="100%" height="50" xmlns="http://www.w3.org/2000/svg">
      <text class="el-logo" x="0" y="35" fill="#96bec8" font-size="25" font-family="OleoScript-Regular">X-Blog</text>
    </svg>
  </a>
  <nav>
    <ul class="flex gap-5">
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/external">External</a>
      </li>
    </ul>
  </nav>
</header>
