---
import '@/styles/component/header.css'
---

<header id="header" class="fixed top-0 w-full z-2 flex items-center justify-between px-5">
  <div class="el-logo text-transparent">
    <a href="/">X-Blog</a>
  </div>
  <nav>
    <ul class="flex gap-5">
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/external">External</a>
      </li>
    </ul>
  </nav>
</header>
