<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a href="/external">External</a>
      </li>
    </ul>
  </nav>
</header>
