---
import '@/styles/component/header.css'
---

<header id="header" class="fixed top-0 w-full z-1 flex items-center">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a href="/external">External</a>
      </li>
    </ul>
  </nav>
</header>
