#header {
  height: var(--header-height);
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(7px);
  border-bottom: 1px solid;
  border-color: var(--color-gray-100);
  -webkit-backdrop-filter: blur(7px);
}

html.dark #header {
  background-color: rgba(0, 0, 0, .5);
  border-color: var(--color-gray-700);
}